.ulh:hover{
    text-decoration: underline;
}
.banner{
    width: 100%;
    height: 400px; 
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.fondo{
    margin:0;

    background-image: url("../img/fondo.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}